.mediaViewInfo {
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920___1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920___1;
}
* {
	margin: 0;
	padding: 0;
}
#Web_1920___1 {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 100vw;
	height: 100vh;
	background-color: rgba(61,75,119,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920___1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Statki {
    opacity: 0.72;
    position: absolute;
    left: 12.4%; /*239px;*/
    top:  22%;/*%11.11%;*/
    overflow: visible;
    width: 15.42%;
    white-space: nowrap;
    line-height: 17.12%;
    margin-top: -2.7%;
    text-align: left;
    font-family: Constantia;
    font-style: normal;
    font-weight: bold;
    font-size: 106px;
    color: rgba(255,255,255,1);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 16.5%;
	height: 11.3%;
	left: 11.8%;
	top: 12.111%;
}
#wci_nij_przycisk_aby_utworzy__ {
	opacity: 0.72;
	position: absolute;
	left: 30%;
	top: 19.223%;
	overflow: visible;
	width: 24.22%;
	white-space: nowrap;
	line-height: 184px;
	margin-top: -78.5px;
	text-align: left;
	font-family: Constantia;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Rectangle_4 {
	opacity: 0.72;
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 11.46%;
	height: 5.46%;
	left: 12.12%; 
	top: 86.2%;
}
#Utw_rz_gr__ {
    opacity: 0.72;
    position: absolute;
    left: 12.4%;
    top: 86.6%;
    overflow: visible;
    width: 11.1%;
    white-space: nowrap;
    line-height: 243px;
    margin-top: -102px;
    text-align: left;
    font-family: Constantia;
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    color: rgba(255,255,255,1);
     cursor: pointer;
}
#http___macondev_pl_Webform1_as {
	opacity: 0.72;
	position: absolute;
	left: 32.3%;
	top: 78.4%;
	overflow: visible;
	width: 41.6%;
	white-space: nowrap;
	line-height: 187px;
	margin-top: -78.5px;
	text-align: left;
	font-family: Constantia;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Link_dla_drugiego_gracza_ {
    opacity: 0.72;
    position: absolute;
    left: 12.4%;
    top: 78.4%;
    overflow: visible;
    width: 354px;
    white-space: nowrap;
    line-height: 187px;
    margin-top: -78.5px;
    text-align: left;
    font-family: Constantia;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
.Rectangle_6 {
    position: absolute;
    overflow: visible;
    width: 18.8%;
    height: 5.22%;
    left: 12.12%;
    top: 77.6%;
}
#autor_strony__Maciej_Wierzbick {
	opacity: 0.32;
	position: absolute;
	left: 86.2%;
	top: 96%;
	overflow: visible;
	width: 296px;
	white-space: nowrap;
	line-height: 187px;
	margin-top: -83.5px;
	text-align: left;
	font-family: Constantia;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
.btn {
    position: absolute;
    overflow: visible;
    width: 11.88%;
    height: 6.1%;
    left: 12.12%;
    top: 86.2%;
    opacity:0;
    cursor:pointer;
}
.hidden{
    opacity:0;
}

.loader{
    position: fixed;
    z-index:9999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: none;
    display:flex;
    justify-content: center;
    align-items: center;
}
@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility:hidden;
    }
}

@keyframes showUp{
    100%{
        opacity:1;
    }

}
.loader.hiddenloader{
    animation: fadeOut 1s;
    animation-fill-mode: forwards;

}
.loaderDarkerElements{
    opacity:0.7;
}
#Web_1920___1.showUp {
    animation: showUp 1s;
    animation-fill-mode: forwards;
}